.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-options, .edit-options {
  display: grid;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.option:hover{
    padding-left: 40px;
}

.option span {
  font-size: 14px;
}

.save-btn, .discard-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.save-btn {
  background-color: #4CAF50; /* Green */
}

.discard-btn {
  background-color: #f44336; /* Red */
  margin-top: 10px;
}


.hover-input{
    background-color: var(--second-color);
    opacity: 0.5;
    color: var(--main-color);
    transition: var(--transition);
}
.hover-input:hover{ 
    /* background-color: var(--main-color); */
    opacity: 1;
    /* color: var(--second-color); */
}