:root {
  --main-color: #ffffff;
  --second-color: #e74c3c;
  --dark-color: #191919;
  --transition: 0.5s ease;
}

html,
body {
  height: 100%;
  cursor: default;
}


.t-center{
  text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}
.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hv-100{
    height: 100vh;
}
.hv-90{
  height: 90vh;
}
wv-100{
  width: 100vw;
}
.hover-color-change {
  transition: var(--transition);
}
.hover-color-change:hover {
  color: var(--second-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.bg-main-color {
  background-color: var(--main-color) !important;
}

.second-color {
  color: var(--second-color) !important;
}

.bg-second-color {
  background-color: var(--second-color) !important;
}

.dark-color {
  color: var(--dark-color) !important;
}

.bg-dark-color {
  background-color: var(--dark-color) !important;
}


.overflow-custom {
  overflow: auto; /* Ensure scrolling is enabled */
  scrollbar-width: thin; /* Firefox: Thin scrollbar */
  scrollbar-color: transparent transparent; /* Firefox: Transparent scrollbar by default */
}

.overflow-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: transparent; /* Initial transparent background */
}

.overflow-custom::-webkit-scrollbar-thumb {
  background-color: transparent; /* Initial transparent scrollbar thumb */
}

.overflow-custom:hover::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1); /* Scrollbar background color on hover */
}

.overflow-custom:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Scrollbar thumb color on hover */
  border-radius: 4px; /* Rounded scrollbar thumb */
}

/* Firefox support */
.overflow-custom:hover {
  scrollbar-width: thin; /* Firefox: Thin scrollbar on hover */
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* Firefox: Thumb and track color on hover */
}
