@import '../../Shares/main.css';
.logout-container{
    width: 50vw;
    border: 5px solid var(--second-color);
    border-radius: 15px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    box-shadow: 0px 0px 25px 1.5px var(--dark-color);
}
.logout-photo{
    margin-bottom: 5%;
    width: 40%;
    height:15vw;
}
.logout-photo img{
    width: 100%;
    height: 100%;
}
.logout-content p{
    font-size: 26px;
    color: var(--dark-color);
    line-height: 60px;
    font-weight: 500;
}
.logout-no, .logout-yes{
    width: 90%;
    font-size: 18px;
    border: 0;
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: auto;
    margin: 15px auto;
    background-color:transparent;
    color: var(--second-color);
    border: 2px solid var(--second-color);
}
.logout-no{
    background-color: var(--second-color);
    color: var(--main-color);
}
  @media (max-width:900px) {
    .logout-container{
        margin-top: 40px;
        padding: 40px 0px;
    }
    .logout-photo{
        margin-bottom: 3%;
    }
    .logout-content p{
        font-size: 22px;
        line-height: 50px;
    }
    .logout-no, .logout-yes{
        width: 90%;
        padding: 15px 30px;
        margin: 15px auto;
    }
}
@media (max-width:750px) {
    .logout-container{
        width: 65vw;
        padding: 35px 15px;
    }
    .logout-content p{
        font-size: 18px;
        line-height: 30px;
    }
    .logout-no, .logout-yes{
        padding: 15px 15px;
        font-size: 16px;
    }
}
@media (max-width:350px) {
    .logout-container{
        width: 65vw;
        padding: 30px 15px;
    }
    .logout-photo{
        margin-bottom: 8%;
    }
    .logout-content p{
        font-size: 16px;
        line-height: 25px;
    }
    .logout-no, .logout-yes{
        padding: 10px 10px;
        font-size: 14px;
    }
}