@import '../../Shares/main.css';
.page-not-found{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.oops{
    font-weight: 600;
    font-size: 50px;
    color: var(--dark-color2);
}
.not-found-title{
    font-weight: 300;
    font-size: 34px;
    color: var(--input-border);
}
.not-found-description{
    font-size: 18px;
    color: var(--input-border);
}
.notfound-content p{
   margin: 40px 0px;
}
.notfound-content button{
    padding: 15px 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--second-color);
    border: 0;
    border-radius: 5px ;
    color: var(--main-color);
    transition: 0.3s;
}
.notfound-content button:hover{
    background-color: var(--hover-color);
}
.notfound-img{
    width: 80%;
    height: 80%;
    background-image: url('../../assets/page-not-found.png');
    background-repeat:no-repeat ;
    background-size: contain;
    background-position:right;
}
@media (max-width:900px) {
    .page-not-found{
        flex-direction: column-reverse;
    }
    .notfound-img{
        background-position:center;
    }
}