@import '../../Shares/main.css';
.log-in{
    position: absolute;
    z-index: 1000;
    width: 100%;
    min-height: 100vh;
    background-color:var(--overlay-color);
    display: grid;
}
.login-container{
    place-self: center;
    width: max(24vw,350px);
    color:var(--text-color);
    background-color:var(--dark-color2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 25px;
    border-radius: 8px;
    font-size: 14px;
}

.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.text-center ,.close-login{
	color:var(--main-color);	
    font-size: 23px;
}
.close-login{
    cursor: pointer;	
}
.input-container{
	position:relative;
	margin-bottom:15px;
}
.login-container .input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:var(--main-color);	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid var(--input-border);  
  background:transparent;
  width:100%;
  padding:8px;
  font-size:16px;
  color:var(--main-color);
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid var(--second-color);	
}
.login-btn{
	color:var(--main-color);
	background-color:var(--second-color);	
	outline: none;
    border: 0;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:20px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
    transition: 0.3s;
}
.login-btn:hover{
    background-color: var(--hover-color);
}
.login-container .input-container input:focus ~ .info-label,
.login-container .input-container input:valid ~ .info-label {
  top: -12px;
  font-size: 12px;
}
.switch{
    color: var(--second-color);	
    font-weight: 500;
    cursor: pointer;
}
.recaptcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .forgot-password-container {
    text-align: right;
    margin-bottom: 10px;
    font-size: 14px;
    color:var(--second-color);	
    text-decoration: none;
  }
  
  .forgot-password-container:hover {
    text-decoration: underline;
  }
@media (max-width:1300px) {
    .login-container{
        padding: 30px 18px;
    }
}
@media (max-width:750px) {
.login-container{
    padding: 30px 15px;
}
}
